.causes-hero-section{
    background-color: var(--primary-color);
    padding: 100px;
    text-align: center;
    font-size: 40px;
    min-height: 200px;
}

.causes-hero-section h1{
    color: white !important;
    font-size: 48px;
}

.causes-main-section{
    padding: 50px;
    background-color: var(--bg-color);
}

.causes-main-section .causes-main-section-content{
    margin-bottom: 50px;
}

.causes-main-section .causes-main-section-content h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.causes-main-section .causes-main-section-content p{
    font-size: 18px;
    color: #666;
}

.causes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.causes .cause{
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.causes .cause:hover{
    transform: scale(1.05);
}

.causes .cause .logo{
    font-size: 40px;
    color: var(--primary-color);
}
.causes .cause .title h2{
    margin-bottom: 10px;
    color: black;
    font-weight: 500;
}

.causes .cause .title p{
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {
    .causes{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .causes-hero-section h1{
        font-size: 30px;
    }
    .causes-hero-section{
        padding-top: 100px !important;
    }
}

@media (max-width: 480px) {
    .causes-hero-section h1{
        font-size: 25px;
    }
    .causes-hero-section{
        /* padding-top: 100px !important; */
        margin-top: 70px;
    }
    .causes{
        padding: 0;
    }
    .causes .cause{
        padding: 20px;
        margin: 0;
    }
    .causes .cause .logo{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .causes .cause .title h2{
        font-size: 20px;
    }
    .causes .cause .title p{
        font-size: 14px;
    }
    

}