.solutions-hero-section{
    background-color: var(--primary-color);
    padding: 100px 20px;
    text-align: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.solutions-hero-section h1{
    color: white !important;
    font-size: 48px;
    margin: 0;
}

.solutions-main-section{
    padding: 50px;
}

.solutions-main-section .solutions-main-section-content{
    margin-bottom: 50px;
    text-align: center;
}

.solutions-main-section .solutions-main-section-content h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.solutions-main-section .solutions-main-section-content p{
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.solutions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.solutions .solution{
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--card-shadow);
    background-color: var(--card-bg);
    transition: all 0.3s ease;
}

.solutions .solution:hover{
    transform: scale(1.05);
}

.solutions .solution .logo{
    font-size: 48px;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.solutions .solution .title h2{
    margin-bottom: 15px;
    color: var(--text-color);
    font-weight: 600;
}

.solutions .solution .title p{
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .solutions{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .solutions-hero-section h1{
        font-size: 30px;
    }
    .solutions-hero-section{
        padding-top: 100px !important;
    }
}

@media (max-width: 480px) {
    .solutions-hero-section h1{
        font-size: 25px;
    }
    .solutions-hero-section{
        /* padding-top: 100px !important; */
        margin-top: 70px;
    }
    .solutions{
        padding: 0;
    }
    .solutions .solution{
        padding: 20px;
        margin: 0;
    }
    .solutions .solution .logo{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .solutions .solution .title h2{
        font-size: 20px;
    }
    .solutions .solution .title p{
        font-size: 14px;
    }
    

}